<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sensor Ambiental Did&aacute;ctico para Invernadero</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Reportes</h1>
      </div>
      <div class="row">
        <h2>Ver Reporte</h2>
        <p>
          La lista mostrará el nombre del reporte, una T y/o H en caso de que
          ese reporte incluya Temperatura y/o Humedad respectivamente y las
          fechas de inicio y fin del reporte.
        </p>
        <form action="get_report" method="GET">
          <div class="form-group">
            <label for="reportSelect">Seleccionar Reporte</label>
            <select class="form-control" id="reportSelect" name="reportid">
              <option disabled>---</option>
              {% for item in data %}
              <option value="{{ item[0] }}">{{ item[1] }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Ver</button>
        </form>
      </div>
      <div class="row">
        <h2>Crear Reporte</h2>
      </div>
      <div class="row">
        <form action="report" method="POST">
          <div class="form-group">
            <label for="reportName">Nombre del Reporte</label>
            <input
              type="text"
              class="form-control col-6"
              id="reportName"
              placeholder="Nombre del Reporte"
              name="Name"
              required
            />
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="tempCheck"
              name="Temperature"
            />
            <label class="form-check-label" for="defaultCheck1">
              Inclu&iacute;r Temperatura
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="humCheck"
              name="Humidity"
            />
            <label class="form-check-label" for="defaultCheck1">
              Inclu&iacute;r Humedad
            </label>
          </div>
          <div class="form-group row">
            <label for="startDate" class="col-4 col-form-label"
              >Fecha de Inicio</label
            >
            <div class="col-8">
              <input
                class="form-control"
                type="datetime-local"
                name="StartDate"
                id="startDate"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="stopDate" class="col-4 col-form-label"
              >Fecha de Fin</label
            >
            <div class="col-8">
              <input
                class="form-control"
                type="datetime-local"
                name="StopDate"
                id="stopDate"
                required
              />
            </div>
          </div>
          <button type="submit" class="btn btn-success" id="createBtn" disabled>
            Crear</button
          ><small class="text-muted" id="createMsg"
            >&nbsp; Debe elegir al menos una opción de Temperatura o
            Humedad</small
          >
        </form>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"
      integrity="sha256-qSIshlknROr4J8GMHRlW3fGKrPki733tLq+qeMCR05Q="
      crossorigin="anonymous"
    ></script>

    <script src="{{ url_for('static',filename='validate.js') }}"></script>
  </body>
</html>
